<% layout('admin/layout') -%>
<!DOCTYPE html><html><body>
<h2>Admin Register</h2>
<form method="post" action="/auth/admin/register">
  <input name="email" placeholder="email"/>
  <input name="password" placeholder="password" type="password"/>
  <button>Register</button>
</form>
</body></html>